body{ 
    margin: 0;
    padding: 0;  
    width: 100%;                                           
    background-color: white;
    margin-bottom: auto;	    
 }

#left-column{
   width: 400px;
   float: left;
   background-color:rgb(52, 9, 56); 
   margin-bottom: auto    
}

#right-column img{
    width: 1500px;
    margin-top: 20px;
}

img#logo{
    position:fixed;
    width:150px;
    bottom:20px;
    right:10px
}
